## Preprocessing

In [55]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [56]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [57]:
application_df.index

RangeIndex(start=0, stop=34299, step=1)

In [58]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN','NAME']).dropna()
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [59]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [60]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [61]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T17','T29','T15','T14','T25','T2','T13','T12']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [62]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

counts = application_df['CLASSIFICATION'].value_counts()
# give series and list all diff value counts
counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C1732        1
C2570        1
C4200        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [63]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
counts = counts[counts > 1]
print(counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1246        2
C1267        2
C1234        2
C1256        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [64]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace =  (counts[counts.cumsum() > .99*len(application_df)].keys().values)

print (classifications_to_replace)
        
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

['C1400' 'C7200' 'C2300' 'C1240' 'C8000' 'C7120' 'C1500' 'C6000' 'C1800'
 'C1250' 'C8200' 'C1238' 'C1278' 'C1235' 'C1237' 'C7210' 'C4100' 'C1720'
 'C2400' 'C1600' 'C1257' 'C2710' 'C1260' 'C0' 'C1246' 'C1267' 'C1234'
 'C1256' 'C3200' 'C1728' 'C2190' 'C5200' 'C4500' 'C2380' 'C1245' 'C2600'
 'C3700' 'C1283' 'C2500' 'C8210' 'C2561' 'C2150' 'C1370' 'C1570' 'C6100'
 'C1580' 'C1900' 'C2170' 'C1236' 'C1248' 'C4120' 'C1732' 'C2570' 'C4200'
 'C1820']

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      355
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
Name: CLASSIFICATION, dtype: int64

In [65]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df,columns=['APPLICATION_TYPE', 'AFFILIATION', 
                        'CLASSIFICATION','USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS'])
application_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34299 entries, 0 to 34298
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ASK_AMT                       34299 non-null  int64
 1   IS_SUCCESSFUL                 34299 non-null  int64
 2   APPLICATION_TYPE_Other        34299 non-null  uint8
 3   APPLICATION_TYPE_T10          34299 non-null  uint8
 4   APPLICATION_TYPE_T19          34299 non-null  uint8
 5   APPLICATION_TYPE_T3           34299 non-null  uint8
 6   APPLICATION_TYPE_T4           34299 non-null  uint8
 7   APPLICATION_TYPE_T5           34299 non-null  uint8
 8   APPLICATION_TYPE_T6           34299 non-null  uint8
 9   APPLICATION_TYPE_T7           34299 non-null  uint8
 10  APPLICATION_TYPE_T8           34299 non-null  uint8
 11  APPLICATION_TYPE_T9           34299 non-null  uint8
 12  AFFILIATION_CompanySponsored  34299 non-null  uint8
 13  AFFILIATION_Family/Parent     34299 non-null  uint8
 14  AFFILIATION_Independent       34299 non-null  uint8
 15  AFFILIATION_National          34299 non-null  uint8
 16  AFFILIATION_Other             34299 non-null  uint8
 17  AFFILIATION_Regional          34299 non-null  uint8
 18  CLASSIFICATION_C1000          34299 non-null  uint8
 19  CLASSIFICATION_C1200          34299 non-null  uint8
 20  CLASSIFICATION_C1230          34299 non-null  uint8
 21  CLASSIFICATION_C1270          34299 non-null  uint8
 22  CLASSIFICATION_C1280          34299 non-null  uint8
 23  CLASSIFICATION_C1300          34299 non-null  uint8
 24  CLASSIFICATION_C1700          34299 non-null  uint8
 25  CLASSIFICATION_C2000          34299 non-null  uint8
 26  CLASSIFICATION_C2100          34299 non-null  uint8
 27  CLASSIFICATION_C2700          34299 non-null  uint8
 28  CLASSIFICATION_C2800          34299 non-null  uint8
 29  CLASSIFICATION_C3000          34299 non-null  uint8
 30  CLASSIFICATION_C4000          34299 non-null  uint8
 31  CLASSIFICATION_C5000          34299 non-null  uint8
 32  CLASSIFICATION_C7000          34299 non-null  uint8
 33  CLASSIFICATION_C7100          34299 non-null  uint8
 34  CLASSIFICATION_Other          34299 non-null  uint8
 35  USE_CASE_CommunityServ        34299 non-null  uint8
 36  USE_CASE_Heathcare            34299 non-null  uint8
 37  USE_CASE_Other                34299 non-null  uint8
 38  USE_CASE_Preservation         34299 non-null  uint8
 39  USE_CASE_ProductDev           34299 non-null  uint8
 40  ORGANIZATION_Association      34299 non-null  uint8
 41  ORGANIZATION_Co-operative     34299 non-null  uint8
 42  ORGANIZATION_Corporation      34299 non-null  uint8
 43  ORGANIZATION_Trust            34299 non-null  uint8
 44  STATUS_0                      34299 non-null  uint8
 45  STATUS_1                      34299 non-null  uint8
 46  INCOME_AMT_0                  34299 non-null  uint8
 47  INCOME_AMT_1-9999             34299 non-null  uint8
 48  INCOME_AMT_10000-24999        34299 non-null  uint8
 49  INCOME_AMT_100000-499999      34299 non-null  uint8
 50  INCOME_AMT_10M-50M            34299 non-null  uint8
 51  INCOME_AMT_1M-5M              34299 non-null  uint8
 52  INCOME_AMT_25000-99999        34299 non-null  uint8
 53  INCOME_AMT_50M+               34299 non-null  uint8
 54  INCOME_AMT_5M-10M             34299 non-null  uint8
 55  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 56  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: int64(2), uint8(55)
memory usage: 2.6 MB

In [66]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop(columns=['IS_SUCCESSFUL'])

# Prepare targets / labels
Y = application_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=.2)

print("Training features")
print(X_train)
print("Training labels")
print(y_train)
print("Test features")
print(X_test)
print("Test labels")
print(y_test)

Training features
       ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
13633     5000                       0                     0
10249     5000                       0                     0
21024     5000                       0                     0
2272     90748                       0                     0
32481   100393                       0                     0
...        ...                     ...                   ...
24282     5000                       0                     0
3910      5000                       0                     0
16899     5000                       0                     0
31779     5000                       0                     0
15114     5000                       0                     0

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
13633                     0                    1                    0
10249                     0                    1                    0
21024                     0                    1                    0
2272                      0                    1                    0
32481                     0                    1                    0
...                     ...                  ...                  ...
24282                     1                    0                    0
3910                      0                    1                    0
16899                     0                    1                    0
31779                     0                    1                    0
15114                     0                    1                    0

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  \
13633                    0                    0                    0
10249                    0                    0                    0
21024                    0                    0                    0
2272                     0                    0                    0
32481                    0                    0                    0
...                    ...                  ...                  ...
24282                    0                    0                    0
3910                     0                    0                    0
16899                    0                    0                    0
31779                    0                    0                    0
15114                    0                    0                    0

       APPLICATION_TYPE_T8  ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
13633                    0  ...                  0                       0
10249                    0  ...                  0                       0
21024                    0  ...                  0                       0
2272                     0  ...                  0                       0
32481                    0  ...                  0                       0
...                    ...  ...                ...                     ...
24282                    0  ...                  0                       0
3910                     0  ...                  0                       0
16899                    0  ...                  1                       0
31779                    0  ...                  0                       0
15114                    0  ...                  0                       0

       INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
13633                         0                   0                 0
10249                         0                   0                 0
21024                         0                   0                 0
2272                          0                   0                 0
32481                         1                   0                 0
...                         ...                 ...               ...
24282                         0                   0                 0
3910                          0                   0                 0
16899                         0                   0                 0
31779                         0                   0                 0
15114                         0                   0                 0

       INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
13633                       0                0                  0
10249                       0                0                  0
21024                       0                0                  0
2272                        1                0                  0
32481                       0                0                  0
...                       ...              ...                ...
24282                       0                0                  0
3910                        0                0                  0
16899                       0                0                  0
31779                       0                0                  0
15114                       0                0                  0

       SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
13633                         1                         0
10249                         1                         0
21024                         1                         0
2272                          1                         0
32481                         1                         0
...                         ...                       ...
24282                         1                         0
3910                          1                         0
16899                         1                         0
31779                         1                         0
15114                         1                         0

[27439 rows x 56 columns]
Training labels
13633    0
10249    0
21024    0
2272     0
32481    1
        ..
24282    0
3910     0
16899    1
31779    1
15114    1
Name: IS_SUCCESSFUL, Length: 27439, dtype: int64
Test features
       ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
18003     5000                       0                     0
62        5000                       0                     0
4430      5000                       0                     0
4955      5000                       0                     0
32246     5000                       0                     0
...        ...                     ...                   ...
32855     5000                       0                     0
24486     5000                       0                     0
4193      5000                       0                     0
23958    24101                       0                     0
20013     5000                       0                     0

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
18003                     0                    1                    0
62                        0                    1                    0
4430                      0                    1                    0
4955                      0                    1                    0
32246                     0                    1                    0
...                     ...                  ...                  ...
32855                     0                    1                    0
24486                     0                    0                    0
4193                      0                    1                    0
23958                     0                    1                    0
20013                     0                    1                    0

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  \
18003                    0                    0                    0
62                       0                    0                    0
4430                     0                    0                    0
4955                     0                    0                    0
32246                    0                    0                    0
...                    ...                  ...                  ...
32855                    0                    0                    0
24486                    1                    0                    0
4193                     0                    0                    0
23958                    0                    0                    0
20013                    0                    0                    0

       APPLICATION_TYPE_T8  ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
18003                    0  ...                  0                       0
62                       0  ...                  0                       0
4430                     0  ...                  0                       0
4955                     0  ...                  0                       0
32246                    0  ...                  0                       0
...                    ...  ...                ...                     ...
32855                    0  ...                  0                       0
24486                    0  ...                  0                       0
4193                     0  ...                  0                       0
23958                    0  ...                  0                       0
20013                    0  ...                  0                       0

       INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
18003                         0                   0                 0
62                            0                   0                 0
4430                          0                   0                 0
4955                          0                   0                 0
32246                         0                   0                 0
...                         ...                 ...               ...
32855                         0                   0                 0
24486                         0                   0                 0
4193                          0                   0                 0
23958                         0                   0                 0
20013                         0                   0                 0

       INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
18003                       0                0                  0
62                          0                0                  0
4430                        0                0                  0
4955                        0                0                  0
32246                       0                0                  0
...                       ...              ...                ...
32855                       0                0                  0
24486                       0                0                  0
4193                        0                0                  0
23958                       1                0                  0
20013                       0                0                  0

       SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
18003                         1                         0
62                            1                         0
4430                          1                         0
4955                          1                         0
32246                         1                         0
...                         ...                       ...
32855                         1                         0
24486                         1                         0
4193                          1                         0
23958                         1                         0
20013                         1                         0

[6860 rows x 56 columns]
Test labels
18003    0
62       1
4430     0
4955     0
32246    1
        ..
32855    1
24486    0
4193     1
23958    0
20013    0
Name: IS_SUCCESSFUL, Length: 6860, dtype: int64

In [67]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [68]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=58, activation="relu", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=40, activation="relu"))
#nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="softplus"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 58)                3306

 dense_12 (Dense)            (None, 40)                2360

 dense_13 (Dense)            (None, 1)                 41

=================================================================
Total params: 5,707
Trainable params: 5,707
Non-trainable params: 0
_________________________________________________________________

In [69]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [70]:
# Train the model
#  YOUR CODE GOES HERE
#
epoch_counter = 0 
class EpochCallback(keras.callbacks.Callback):
    
    def on_epoch_end(self, epoch, logs=None):
        global epoch_counter
        epoch_counter += 1
        keys = list(logs.keys())
        print("End epoch {} of training; got log keys: {}".format(epoch, keys))
        
        if epoch_counter == 5:
             epoch_counter = 0
             nn_model.save_weights("pretrained_weights{}.h5".format(epoch))
      

fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 1s 571us/step - loss: 0.6532 - accuracy: 0.7090
Epoch 2/100
858/858 [==============================] - 0s 567us/step - loss: 0.6065 - accuracy: 0.7174
Epoch 3/100
858/858 [==============================] - 0s 559us/step - loss: 0.5870 - accuracy: 0.7208
Epoch 4/100
858/858 [==============================] - 0s 566us/step - loss: 0.5822 - accuracy: 0.7207
Epoch 5/100
858/858 [==============================] - 0s 561us/step - loss: 0.5702 - accuracy: 0.7303
Epoch 6/100
858/858 [==============================] - 0s 563us/step - loss: 0.5707 - accuracy: 0.7325
Epoch 7/100
858/858 [==============================] - 0s 560us/step - loss: 0.5750 - accuracy: 0.7318
Epoch 8/100
858/858 [==============================] - 0s 567us/step - loss: 0.5847 - accuracy: 0.7303
Epoch 9/100
858/858 [==============================] - 0s 564us/step - loss: 0.5716 - accuracy: 0.7315
Epoch 10/100
858/858 [==============================] - 0s 571us/step - loss: 0.5705 - accuracy: 0.7277
Epoch 11/100
858/858 [==============================] - 0s 567us/step - loss: 0.5735 - accuracy: 0.7334
Epoch 12/100
858/858 [==============================] - 1s 630us/step - loss: 0.5621 - accuracy: 0.7313
Epoch 13/100
858/858 [==============================] - 0s 567us/step - loss: 0.5690 - accuracy: 0.7325
Epoch 14/100
858/858 [==============================] - 0s 566us/step - loss: 0.5639 - accuracy: 0.7345
Epoch 15/100
858/858 [==============================] - 0s 561us/step - loss: 0.5544 - accuracy: 0.7342
Epoch 16/100
858/858 [==============================] - 1s 622us/step - loss: 0.5527 - accuracy: 0.7354
Epoch 17/100
858/858 [==============================] - 0s 564us/step - loss: 0.5526 - accuracy: 0.7355
Epoch 18/100
858/858 [==============================] - 0s 566us/step - loss: 0.5535 - accuracy: 0.7345
Epoch 19/100
858/858 [==============================] - 0s 578us/step - loss: 0.5552 - accuracy: 0.7350
Epoch 20/100
858/858 [==============================] - 0s 570us/step - loss: 0.5497 - accuracy: 0.7350
Epoch 21/100
858/858 [==============================] - 0s 566us/step - loss: 0.5512 - accuracy: 0.7352
Epoch 22/100
858/858 [==============================] - 0s 567us/step - loss: 0.5495 - accuracy: 0.7344
Epoch 23/100
858/858 [==============================] - 0s 554us/step - loss: 0.5491 - accuracy: 0.7356
Epoch 24/100
858/858 [==============================] - 0s 564us/step - loss: 0.5505 - accuracy: 0.7356
Epoch 25/100
858/858 [==============================] - 0s 563us/step - loss: 0.5517 - accuracy: 0.7367
Epoch 26/100
858/858 [==============================] - 0s 554us/step - loss: 0.5496 - accuracy: 0.7362
Epoch 27/100
858/858 [==============================] - 0s 557us/step - loss: 0.5474 - accuracy: 0.7363
Epoch 28/100
858/858 [==============================] - 0s 555us/step - loss: 0.5500 - accuracy: 0.7373
Epoch 29/100
858/858 [==============================] - 0s 557us/step - loss: 0.5455 - accuracy: 0.7373
Epoch 30/100
858/858 [==============================] - 0s 567us/step - loss: 0.5500 - accuracy: 0.7374
Epoch 31/100
858/858 [==============================] - 0s 557us/step - loss: 0.5455 - accuracy: 0.7368
Epoch 32/100
858/858 [==============================] - 0s 556us/step - loss: 0.5488 - accuracy: 0.7373
Epoch 33/100
858/858 [==============================] - 0s 573us/step - loss: 0.5466 - accuracy: 0.7369
Epoch 34/100
858/858 [==============================] - 0s 566us/step - loss: 0.5448 - accuracy: 0.7372
Epoch 35/100
858/858 [==============================] - 0s 560us/step - loss: 0.5467 - accuracy: 0.7365
Epoch 36/100
858/858 [==============================] - 0s 561us/step - loss: 0.5485 - accuracy: 0.7371
Epoch 37/100
858/858 [==============================] - 0s 568us/step - loss: 0.5472 - accuracy: 0.7387
Epoch 38/100
858/858 [==============================] - 0s 557us/step - loss: 0.5468 - accuracy: 0.7379
Epoch 39/100
858/858 [==============================] - 0s 575us/step - loss: 0.5449 - accuracy: 0.7397
Epoch 40/100
858/858 [==============================] - 0s 562us/step - loss: 0.5461 - accuracy: 0.7377
Epoch 41/100
858/858 [==============================] - 0s 566us/step - loss: 0.5501 - accuracy: 0.7392
Epoch 42/100
858/858 [==============================] - 0s 548us/step - loss: 0.5508 - accuracy: 0.7376
Epoch 43/100
858/858 [==============================] - 0s 576us/step - loss: 0.5487 - accuracy: 0.7379
Epoch 44/100
858/858 [==============================] - 0s 567us/step - loss: 0.5487 - accuracy: 0.7389
Epoch 45/100
858/858 [==============================] - 0s 575us/step - loss: 0.5499 - accuracy: 0.7388
Epoch 46/100
858/858 [==============================] - 0s 564us/step - loss: 0.5488 - accuracy: 0.7385
Epoch 47/100
858/858 [==============================] - 0s 573us/step - loss: 0.5483 - accuracy: 0.7388
Epoch 48/100
858/858 [==============================] - 0s 574us/step - loss: 0.5537 - accuracy: 0.7376
Epoch 49/100
858/858 [==============================] - 0s 557us/step - loss: 0.5503 - accuracy: 0.7392
Epoch 50/100
858/858 [==============================] - 0s 565us/step - loss: 0.5513 - accuracy: 0.7387
Epoch 51/100
858/858 [==============================] - 0s 561us/step - loss: 0.5508 - accuracy: 0.7390
Epoch 52/100
858/858 [==============================] - 0s 561us/step - loss: 0.5516 - accuracy: 0.7393
Epoch 53/100
858/858 [==============================] - 0s 559us/step - loss: 0.5513 - accuracy: 0.7392
Epoch 54/100
858/858 [==============================] - 0s 566us/step - loss: 0.5542 - accuracy: 0.7400
Epoch 55/100
858/858 [==============================] - 0s 570us/step - loss: 0.5502 - accuracy: 0.7400
Epoch 56/100
858/858 [==============================] - 0s 560us/step - loss: 0.5500 - accuracy: 0.7386
Epoch 57/100
858/858 [==============================] - 0s 557us/step - loss: 0.5487 - accuracy: 0.7392
Epoch 58/100
858/858 [==============================] - 0s 564us/step - loss: 0.5480 - accuracy: 0.7380
Epoch 59/100
858/858 [==============================] - 0s 564us/step - loss: 0.5499 - accuracy: 0.7390
Epoch 60/100
858/858 [==============================] - 0s 563us/step - loss: 0.5489 - accuracy: 0.7390
Epoch 61/100
858/858 [==============================] - 0s 566us/step - loss: 0.5475 - accuracy: 0.7404
Epoch 62/100
858/858 [==============================] - 0s 566us/step - loss: 0.5487 - accuracy: 0.7387
Epoch 63/100
858/858 [==============================] - 0s 581us/step - loss: 0.5505 - accuracy: 0.7401
Epoch 64/100
858/858 [==============================] - 0s 577us/step - loss: 0.5483 - accuracy: 0.7385
Epoch 65/100
858/858 [==============================] - 0s 569us/step - loss: 0.5518 - accuracy: 0.7401
Epoch 66/100
858/858 [==============================] - 0s 568us/step - loss: 0.5512 - accuracy: 0.7395
Epoch 67/100
858/858 [==============================] - 0s 576us/step - loss: 0.5483 - accuracy: 0.7400
Epoch 68/100
858/858 [==============================] - 0s 566us/step - loss: 0.5460 - accuracy: 0.7410
Epoch 69/100
858/858 [==============================] - 0s 570us/step - loss: 0.5479 - accuracy: 0.7392
Epoch 70/100
858/858 [==============================] - 0s 573us/step - loss: 0.5516 - accuracy: 0.7407
Epoch 71/100
858/858 [==============================] - 0s 565us/step - loss: 0.5528 - accuracy: 0.7409
Epoch 72/100
858/858 [==============================] - 0s 560us/step - loss: 0.5521 - accuracy: 0.7389
Epoch 73/100
858/858 [==============================] - 0s 563us/step - loss: 0.5511 - accuracy: 0.7397
Epoch 74/100
858/858 [==============================] - 0s 563us/step - loss: 0.5560 - accuracy: 0.7394
Epoch 75/100
858/858 [==============================] - 0s 562us/step - loss: 0.5535 - accuracy: 0.7397
Epoch 76/100
858/858 [==============================] - 0s 563us/step - loss: 0.5543 - accuracy: 0.7403
Epoch 77/100
858/858 [==============================] - 0s 571us/step - loss: 0.5511 - accuracy: 0.7401
Epoch 78/100
858/858 [==============================] - 0s 570us/step - loss: 0.5516 - accuracy: 0.7414
Epoch 79/100

858/858 [==============================] - 0s 561us/step - loss: 0.5521 - accuracy: 0.7406
Epoch 80/100
858/858 [==============================] - 0s 562us/step - loss: 0.5505 - accuracy: 0.7400
Epoch 81/100
858/858 [==============================] - 0s 563us/step - loss: 0.5521 - accuracy: 0.7400
Epoch 82/100
858/858 [==============================] - 0s 558us/step - loss: 0.5525 - accuracy: 0.7412
Epoch 83/100
858/858 [==============================] - 0s 560us/step - loss: 0.5511 - accuracy: 0.7390
Epoch 84/100
858/858 [==============================] - 0s 569us/step - loss: 0.5506 - accuracy: 0.7397
Epoch 85/100
858/858 [==============================] - 0s 563us/step - loss: 0.5509 - accuracy: 0.7410
Epoch 86/100
858/858 [==============================] - 0s 556us/step - loss: 0.5503 - accuracy: 0.7398
Epoch 87/100
858/858 [==============================] - 0s 566us/step - loss: 0.5525 - accuracy: 0.7396
Epoch 88/100
858/858 [==============================] - 0s 557us/step - loss: 0.5531 - accuracy: 0.7406
Epoch 89/100
858/858 [==============================] - 0s 560us/step - loss: 0.5535 - accuracy: 0.7395
Epoch 90/100
858/858 [==============================] - 0s 550us/step - loss: 0.5522 - accuracy: 0.7404
Epoch 91/100
858/858 [==============================] - 0s 557us/step - loss: 0.5522 - accuracy: 0.7405
Epoch 92/100
858/858 [==============================] - 0s 559us/step - loss: 0.5515 - accuracy: 0.7402
Epoch 93/100
858/858 [==============================] - 0s 558us/step - loss: 0.5612 - accuracy: 0.7399
Epoch 94/100
858/858 [==============================] - 0s 555us/step - loss: 0.5570 - accuracy: 0.7402
Epoch 95/100
858/858 [==============================] - 0s 558us/step - loss: 0.5532 - accuracy: 0.7400
Epoch 96/100
858/858 [==============================] - 0s 559us/step - loss: 0.5546 - accuracy: 0.7412
Epoch 97/100
858/858 [==============================] - 0s 569us/step - loss: 0.5529 - accuracy: 0.7396
Epoch 98/100
858/858 [==============================] - 0s 560us/step - loss: 0.5503 - accuracy: 0.7409
Epoch 99/100
858/858 [==============================] - 0s 560us/step - loss: 0.5544 - accuracy: 0.7401
Epoch 100/100
858/858 [==============================] - 0s 568us/step - loss: 0.5576 - accuracy: 0.7412

In [71]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.6116 - accuracy: 0.7278 - 137ms/epoch - 639us/step
Loss: 0.611554741859436, Accuracy: 0.7278425693511963

In [72]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save("AlphabetSoupCharity_Optimization.h5")